.Title {
    font-family: fantasy;
    color:rgb(90, 9, 122);
    text-align: center;
    border: thick dashed;
}

.Play {
    font-family: fantasy;
    color:rgb(8, 8, 142);
}

.PlayPos {
    display: flex;
    justify-content: center;
}

.Next {
    color:blue;
}