/* Lerissa's Code */

body {
    background-image: url("../assets/images/taco.png");
    background-size: cover;
}

.ThreeOp {
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.ThreeOpPos {
    font-family: fantasy;
    color: rgb(8, 8, 142);
    text-shadow: 2px 2px 5px blue;
}

.Title {
    font-family: fantasy;
    color: rgb(90, 9, 122);
    text-align: center;
    text-shadow: 2px 2px 5px purple;
}

.TitleFont {
    font-family: fantasy;
}

.AdvTitleFont {
    font-family: fantasy;
    text-shadow: 2px 2px 5px blue;
}

.Play {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 20px;
    color: rgb(255, 255, 255);
    font-family: fantasy;
}

.StartBtn {
    background-color: rgb(90, 9, 122);
    font-family: fantasy;
}

.StoryFive {
    color: rgb(90, 9, 122);
    font-family: fantasy;
    text-align: center;
    font-size: 30px;
}

.TitleFive {
    color: rgb(8, 8, 142);
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
    text-shadow: 2px 2px 5px blue;
}

.NextFive {
    display: flex;
    justify-content: center;
}

.NextBtn {
    display: flex;
    justify-content: center;
}

.btnCustom {
    color: white;
    background-color: rgb(8, 8, 142)
}

.card-title {
    color: rgb(8, 8, 142);
    font-family: fantasy;
}

.card {
    background-color: plum
}

.AdvTitle {
    text-align: center;
    color: rgb(8, 8, 142);
    background-color: rgb(244, 244, 139);
    font-family: fantasy;
}

.AdvColm {
    display: flex;
    justify-content: center;
    color: rgb(8, 8, 142)
}

.col-4 {
    display: flex;
    justify-content: center;
}

.Img {
    position: absolute;
    bottom: 150px;
    width: 1510px;
    border-radius: 50px;
    max-width: 700px;
}

.Image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 46%
}

.DriveBtn {
    display: flex;
    justify-content: center;
}

.WalkBtn {
    display: flex;
    justify-content: end;
}

.DashBtn {
    display: flex;
    justify-content: start;
}

.test {
    justify-content: center;
    display: flex;
}

.row {
    display: flex;
    justify-content: center;

}

.card-text {
    text-align: center;
    color: rgb(90, 9, 122);
    font-family: fantasy;
}

.card-title {
    text-align: center;
}

.SelectBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-family: fantasy;
    color: rgb(90, 9, 122);
}


/* Isaiah's classes*/

.isaiahimage {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 7px;
    width: 350px;
}


.IsaiahCenter {
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.isaiahhero {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;

}

.isaiahone {
    background-color: aquamarine;

}

.isaiahtwo {
    background-color: azure;
}

.isaiahthree {
    background-color: antiquewhite;
}

.isaiahcontainer {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
}

@keyframes fade-inout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-in-fade-out {
    animation: fade-inout 1s;
    font-size: xx-large;
}

/* end of Isaiah Code*/
/* marks code */
.markTitle {
    color: #0317fc;
    font-size: 11ch;
}

.markText {
    color: #0317fc;
    font-size: x-large;
    text-decoration: solid;
    background-color: rgb(244, 244, 139);
    display: inline-block;
}

.markpage2 {
    background-image: url("../assets/images/honda.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.markpage3 {
    background-image: url("../assets/images/towtruck.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.markpage4 {
    background-image: url("../assets/images/");
}

.markUrl {
    color: #0317fc;
}

.markUrl:visited {
    color: #0317fc;
}

/* marks code */